@charset 'utf-8';
$basecolor:#fbfbfb;
$maincolor:#558A86;
$accentcolor:#0F0A01;

$breakPoint: (
    sp: 'screen and (max-width: 600px)',
  tab: 'screen and (max-width: 767px)',
  max:'screen and (max-width: 980px)'
);
// mixinを定義
@mixin mediaQuery($bp) {
  @media #{map-get($breakPoint, $bp)} { // マップとキーを取得
    @content;
  }
}

 
html{
    font-family: Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Meiryo,'メイリオ','MS Pゴシック',sans-serif;
    font-size: 100%;
    height: 100%;
}

// header

.header {
    height: 80px;
    background-color: $maincolor;
    color: $basecolor;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
   
}

.header__content{
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    align-items: center;
    @include mediaQuery(tab){
        padding: 16px 32px;
      }
}

.logo-title {
    font-size: 32px;
    font-weight: bold;
}

.navigation{
    @include mediaQuery(tab){
        display: none;
      }
}

.navigation__list{
    display: flex;
    gap: 24px;
    line-height: 24px;
}

.navigation__item{
    position: relative;
    display: inline-block;
}

.navigation__item::after{
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: $basecolor;
        bottom: -2px;               /*アンダーラインがaタグの下端から現れる*/
        transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
        transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
        transition: transform 0.3s; /*変形の時間*/
        }
        
.navigation__item:hover::after {
    transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
    }

    .hamburger{
    right: 30px;
    width: 50px;
    height: 50px;
    top: 30px;
    z-index: 30px;
    background: $maincolor;
    transition: all 0.6s;
    z-index: 3;
    cursor: pointer;
    display: none;

    @include mediaQuery(tab){
        display: block;
      }
}

.hamburger span{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 3px;
    background-color: $basecolor;
    transition: all 0.6s ;
    border-radius: 2px;
    margin: 10px;
  }

  .hamburger span:nth-child(1){
    top:20px;
}

.hamburger span:nth-child(2){
    top: 32px;
}

.hamburger span:nth-child(3){
    top:44px;
}

.open.hamburger span:nth-child(1){
       
    transform: translateY(12px) rotate(45deg);
   
}

.open.hamburger span:nth-child(2){
    opacity: 0;

}

.open.hamburger span:nth-child(3){
    
    transform: translateY(-12px) rotate(-45deg);
    
} 

.hamburger__navigation{
    display: none;
    text-align: center;
    background-color: $maincolor;
    transition: all 1s ease-in-out;
    z-index: 11;
    line-height: 3;
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    padding: 30px 20px;
    width: 100vw;
    height: 100vh;

}
.add.hamburger__navigation{
    display: block;
}




// mainvisual

.mainvisual__item{
    position: relative;
}

.mainvisual__item img{
    width: 100%;
    margin-top: 80px;
}

.mainvisual__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgba(251,251,251,0.55);
    font-size: 40px;
    color: $maincolor;
    font-weight: bold;
    padding: 20px 80px;
    text-align: center;
    line-height: 1.5;
    @include mediaQuery(tab){
        font-size: 40px;
        padding: 0px 80px;
        }
}

.mainvisual__p {
    font-size: 48px;
    @include mediaQuery(tab){
      font-size: 30px;
      }
}

// works

#works{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top: 120px;
}

.works__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.works__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.splide__slide img {
    height: 80%;
    width: 100%;
    opacity: .3;
    transform: scale(.8);
    transition: .7s;
    @include mediaQuery(tab){
        width: 80%;
        height: 80%;
      }
  }

  .splide__slide p {
    opacity: .3;
    font-size: 10px;
}

  .splide__slide.is-active img{
    opacity: 1;
    transform: scale(1); /* 中央のスライドは小さくしない */
    z-index: 1;
  }

  .splide__slide.is-active p{
    font-size: 12px;
    margin-top: 8px;
    opacity: 1;
  }


  .splide__pagination {
    bottom: auto;
    position: absolute;
    
  }

  .splide__arrow{
    background: $maincolor;
  }

  
  .splide__pagination__page.is-active{
    color: $maincolor;
  }

  .your-class-page {
    background-color: $maincolor;
    opacity: .5;
    height: 8px;
    transition: .5s all;
    width: 8px;
  }
  /* 現在表示されているページネーションのスタイル */
  .your-class-page.is-active {
    background-color:$maincolor;
    opacity: 1;
  }

  /* ページネーション間の余白 */
  .your-class-pagination li {
    margin-left: 5px;
    margin-right: 5px;
  }



  .works__button {
    margin-top: 56px;
    display: inline-block;
    border: 3px solid $maincolor;
    color: $accentcolor;
    padding: 16px 60px;
    letter-spacing: 3px;
}

.works__button:hover{
    background-color: $maincolor;
    color: $basecolor;
    transition: 0.7s;
}

// Service

#service{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top:120px;
}

.service__wapper{
    margin: 0 50px;
}

.service__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.service__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.service__list {
    display: flex;
    gap: 28px;

    @include mediaQuery(tab){
        flex-direction: column;
      }
}

.service__item {
    border: 1px solid $maincolor;
    padding: 40px;
    width: 33%;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
    @include mediaQuery(tab){
        width: 100%;
      }
}

  
  /* 時間差フェードで付与するクラス */
  .service__item.fade1{
    transition-delay: .5s;
  }

  .service__item.fade2{
    transition-delay: 1s;
  }
  
  /* フェードしたい要素に付与するクラス */
  .scrolled {
    opacity: 1;
    transform: translateY(0px);
  }
  

.service__item--title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    color: $accentcolor;
}

.service__item--text {
    margin-top: 24px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: left;
}

.service__button {
    margin-top: 56px;
    display: inline-block;
    border: 3px solid $maincolor;
    color: $accentcolor;
    padding: 16px 60px;
    letter-spacing: 3px;
}

.service__button:hover{
    background-color: $maincolor;
    color: $basecolor;
    transition: 0.7s;
}

// About

#about{
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top:120px;
}

.about__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.about__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.about__list {
    display: flex;
    gap: 40px;
    background-color:rgba(85,138,134,0.1);
    padding: 40px;
    border: 1px solid $maincolor;
    align-items: center;

    @include mediaQuery(tab){
       flex-direction: column;
       padding: 40px 60px;
        justify-content: center;
        align-items: center;
    }
      }



.about__item img {
    width: 250px;
    height: 250px;
    border-radius: 500px;
}

.about__color{
    color: $maincolor;
}

.about__item:nth-child(1){
    width: 80%;
}

.about__item{
    @include mediaQuery(tab){
        padding: 0px 50px;
        }
}

.about__name {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16px;
    letter-spacing: 2px;
    @include mediaQuery(tab){
       text-align: center;
       }
}

.about__text {
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 16px;
    @include mediaQuery(tab){
        text-align: center;
        }
}

// contact

#contact{
    text-align: center;
    max-width: 680px;
    margin: auto;
    padding-top:120px;
}

.contact__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.contact__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.contact__text {
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

.contact__button {
    margin-top: 56px;
    display: inline-block;
    border: 3px solid $maincolor;
    color: $accentcolor;
    padding: 16px 60px;
    letter-spacing: 3px;
}

.contact__button:hover{
    background-color: $maincolor;
    color: $basecolor;
    transition: 0.7s;
}

// footer
.footer{
    height: 40px;
    background-color: $maincolor;
    color: $basecolor;
    width: 100%;
    margin-top: 120px;
    display: block;
    align-content: center;
}

.footer__copyright{
    font-size: 10px;
    text-align: center;
}


// priceページ
#price{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top: 200px;
}

.price__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.price__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.price__item--title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.price__item--content {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 48px;
    @include mediaQuery(max){
        margin: 0px 50px;
        flex-direction: column;
        margin-bottom: 40px;
      }
}

.price__item--content--left {
    width: 48%;
    text-align: left;
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.8px;
    @include mediaQuery(max){
        width: 100%;
        margin-top: 24px;
        margin-bottom: 40px;
        line-height: 1.6;
      }
}

.price__item--content--left::after{
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 3px;
    height: 100%;
    background-color: $maincolor;

    @include mediaQuery(max){
    display: none;
}
      }



.price__item--content--right {
    width: 48%;
    margin: 0;
    position: relative;
    @include mediaQuery(max){
        width: 100%;
        margin-top: 16px;
      }
}

.price__item--content--right::before{
    @include mediaQuery(max){
    position: absolute;
    top: -130px;
    left: 50%;
    /* margin: 0 1rem; */
    content: "";
    width: 80%;
    height: 100%;
    /* background-color: #558A86; */
    border-bottom: 5px solid $maincolor;
    transform: translateX(-50%);
}
}

.price__item--list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#flow{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color:rgba(85,138,134,0.1);
    border: 1px solid $maincolor;
}

.flow__wapper {
    max-width: 1080px;
    margin: auto;
}

.flow__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.flow__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.flow__list {
    margin: 0px 50px;
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-out;
    transform: translateY(150px);
    @include mediaQuery(tab){
        flex-direction: column;

}
}

.flow__list.is-active {
    /*要素を表示させる*/
    opacity: 1;
    visibility: visible;
    /*元の位置に戻す*/
    transform: translateY(0);
  }

.flow__item--text {
    text-align: left;
    margin-left: 48px;
    @include mediaQuery(tab){
       text-align: center;
       margin: 20px;

}
}

.flow__item--title {
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.flow__item--circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid $maincolor;
    align-items: center;
    display: flex;
    justify-content: center;
}

// workslistページ
#list{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top: 200px;
}

.list__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.list__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.list__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @include mediaQuery(tab){
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
      }

      @include mediaQuery(sp){
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
      }
    }

    .list__content--item:hover{
        opacity: .8;
        transition: all 0.3s;
    }


    .list__content--text {
        margin-top: 8px;
        @include mediaQuery(sp){
            margin-bottom: 10px;
          }
    }

    .pic-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background-color: #fefefe;
        gap: 1rem;
    }
    
    .pagination {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        padding-top: 16px;
    }
    
    
    .pagination a {
        display: inline-block;
        color: $accentcolor;
        border-radius: 50%;
        border: 1px solid #dedede;
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    
    
    .pagination i {
        line-height: 40px;
    }
    
    .pagination .active a {
        background-color: $maincolor;
        color: $basecolor;
    }
    
    .pagination a:hover {
        background-color:rgba(85,138,134,0.3);
        color: $basecolor;
        transition: all .3s;
    }
    
    .pagination .disabled a {
        pointer-events: none;
        color: #ccc;
    }
    
    .pagination .disabled a:hover {
        background-color: initial;
        color: #ccc;
    }

    // Works詳細

    #detail{
        text-align: center;
        max-width: 1080px;
        margin: auto;
        padding-top: 200px;
    }
    
    .detail__title {
        font-size: 32px;
        font-weight: bold;
        color: $accentcolor;
    }
    
    .detail__subtitle {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 40px;
    }

    .detail__list {
        display: flex;
        gap: 16px;

        @include mediaQuery(max){
            flex-direction: column;
            margin: 0px 50px;
          }
    }

    .detail__img {
        position: relative;
    }

    .detail__text {
        position: absolute;
        font-size: 10px;
        top: 85%;
        left: 50%;
    }

    .detail__content {
        text-align: left;
        padding-top: 56px;
        @include mediaQuery(max){
            margin: 0px 100px;
          }
    }

    .detail__content--title {
        font-size: 24px;
        margin-bottom: 8px;
        position: relative;
    }

    .detail__content--title::before{
        position: absolute;
        display: inline-block;
        content: "";
        width: 3px;
        height: 25px;
        background-color: $maincolor;
        left: -10px;

    }

    .detail__content--text {
        margin-bottom: 24px;
    }

    .detail__button {
        margin-top: 56px;
        display: inline-block;
        border: 3px solid $maincolor;
        color: $accentcolor;
        padding: 16px 60px;
        letter-spacing: 3px;
    }
    
    .detail__button:hover{
        background-color: $maincolor;
        color: $basecolor;
        transition: 0.7s;
    }

    // contactページ
    #contact__page{
        text-align: center;
        max-width: 1080px;
        margin: auto;
        padding-top: 200px;

    }
    .contact__wapper{
        margin: 0px 50px;
    }

    .contact__container {
        text-align: left;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        /* margin-bottom: 16px; */
    }
    .contact__form--label {
        margin-bottom: 16px;
    }