@charset 'utf-8';
$basecolor:#fbfbfb;
$maincolor:#558A86;
$accentcolor:#0F0A01;

$breakPoint: (
  sp: 'screen and (max-width: 960px)'
);
// mixinを定義
@mixin mediaQuery($bp) {
  @media #{map-get($breakPoint, $bp)} { // マップとキーを取得
    @content;
  }
}


// header
.header {
    height: 80px;
    background-color: $maincolor;
    color: $basecolor;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
}

.header__content{
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    align-items: center;
}

.logo-title {
    font-size: 32px;
    font-weight: bold;
}

.navigation__item{
    display: flex;
    gap: 24px;
    line-height: 24px;
}



// mainvisual

.mainvisual__item{
    position: relative;
}

.mainvisual__item img{
    width: 100%;
}

.mainvisual__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgba(251,251,251,0.55);
    font-size: 40px;
    color: $maincolor;
    font-weight: bold;
    padding: 30px 100px;
    text-align: center;
    line-height: 1.5;
}

.mainvisual__p {
    font-size: 48px;
}

// works
.works{
    margin: 120px;
    text-align: center;
}

.works__title {
    font-size: 32px;
    font-weight: bold;
    color: $accentcolor;
}

.works__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.splide__slide img {
    height: 100%;
    width: 100%;
    opacity: .3;
    transform: scale(.8);
    transition: .7s;
  }

  .splide__slide.is-active img {
    opacity: 1;
    transform: scale(1); /* 中央のスライドは小さくしない */
    z-index: 1;
  }
  .splide__pagination {
    bottom: auto;
    position: absolute;
    top: 1em;
  }

  .button {
    background-color: transparent; /* ボタンの背景を透明にする */
    height: 50px;
    transition: .2s;
    width: 30px;
  }

  .button::before {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    height: 50px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 50px;
  }

  /* 前の矢印 */
.prev::before {
    background-image: url(img\left.png);
  }
  /* 次の矢印 */
  .next::before {
    background-image: url(img\right.png);
  }